.homepage {
  /* background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; */

  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .background {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}; */


.homepage-header {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.homepage-benefits-container{
  text-align: center;
  padding-top: 18vh;
};


