/* .homepage {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sentimentpage {
  text-align: left;
  padding-top: 3vh;
  padding-bottom: 3vh;

}

.governmentdata {
  text-align: left;
  padding-top: 3vh;
  padding-bottom: 3vh;

}



/* .background {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}; */


/* .homepage-header {
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.homepage-benefits-container{
  text-align: center;
  padding-top: 18vh;
};


 */ 
